html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 100%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

/* HomeScreen */
/* EditScreen */
.edit-screen-container{
  width: 90%;
  position: absolute;
  height: 90%;
  left: 5%;    
  margin-top: 6px;
}
/* left, right and middle container */
.control-panel{
  width: 20%;
  height: 100%;
  float: left;
  margin-left: 1%;
}
/* middle container */
.wireframe-panel{
  width: 56%
}
.wireframe-container{
  position: absolute;
  width: 100%;
  height: 100%;
}
.wireframe-option-panel{
  height: 6%;
  text-align: center;
  padding: 3%;
}
.wireframe-option-control-button{
  margin-left: 2%;
  margin-right: 2%;
}
.dimension-control-panel{
  display: inline-block;
}
.dimension-input-control{
  width: 50%;
  padding-left: 10%;
  float: left;
}

/* the four controls panel */
.controls-panel{
  display: inline-block;
  width: 100%;
  text-align: center;
  display: grid;
  gap: 20%;
  padding-top: 4%;
}
.controls{
  text-align: center;
}
.controls-component{
  display: inline-block;
}
.controls-prompt{
  font-size: large;
  font-weight: bold;
}
