:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    #cee5fdf5; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-image: linear-gradient(to bottom, hsla(29, 77%, 68%, 0.199), #e9981ebd);
  background-repeat:no-repeat;
  background-attachment: fixed;
  font-family: 'Lexend Exa';
}

div.banner {
  /* background-image: linear-gradient(to bottom,         
  #f8bca16e, #da5314e0); */
  background-image: radial-gradient(#ecbda76e,#e95612e0);
  color: rgba(19, 16, 221, 0.733);
  font-size: 460%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-top:10%;
  text-align: center;
}

.home_new_list_button {
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}

/* HomeScreen */
.wireframe-card{
  background-image: linear-gradient(to bottom right, #afd3d059,#18b8e9ea);
  border-radius: 30px;
  transition: background-color 1s;
}
.wireframe-card:hover{
  background-color: #9dc1e2ea;
  transition: background-color 100ms ease;
  box-shadow: 0px, 10px, #5e87d494;
}
.wireframe-delete-button{
  background-color: rgba(80, 58, 33, 0.555);
}
.wireframe-delete-button:hover{
  background-color: rgb(202, 33, 33);
}

/* EditScreen */
.control-panel{
  background-color: rgba(219, 235, 241, 0.507);
}
.wireframe-option-panel{
  background-color: rgba(219, 161, 72, 0.712);
}
#wireframe-option-control-close,#wireframe-option-control-save{
  background-color: rgba(179, 82, 25, 0.664);
}
#wireframe-option-control-zoom-in,#wireframe-option-control-zoom-out{
  background-color: initial;
}
#wireframe-option-control-zoom-in:hover,#wireframe-option-control-zoom-out:hover{
  background-color: rgba(255, 255, 255, 0.486);
}
#canvas{
  background-color: white;
  border:solid;
  border:none;
}